:root {
    --light-blue: #2196f3;
    --black: #212121;
    --white: #ffffff;
    --dark-white: #f5f4fa;
    --grey: #757575;
    --dark-grey: #2f303a;
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

html{
    box-sizing: border-box;

}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}
/* Body section style*/

.body{
    font-family: var(--primary-font);
    background-color: var(--white);

}

/* Header section style*/
.header {
    display: flex;
    padding: 24px 215px;
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
}

.header__logo{
    text-decoration: none;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: #000000;
    letter-spacing: 0.03em;

}

.header__logo__name{
    color: #2196f3;

}

.header__navigation ul{
    list-style: none;
    display: flex;
    gap: 40px;


}

.header__navigation a{
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: var(--black);
    list-style: none;
    text-decoration: none;

}

.header__navigation a:hover {
    color: var(--light-blue);
}



.header__navigation a:focus{
    color: var(--light-blue);
    border-bottom: none;
}

.header__info a{
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: var(--grey) ;
    text-decoration: none;
   padding-right: 40px;

}

.header__info a:hover{
    color: var(--light-blue);

}

.header__info a:focus{
    color: var(--light-blue);
    border-bottom: none;
}

/* Hero section style*/

.hero-section{
    background-color: var(--dark-grey);
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}
.hero-section .container{
    width: 1200px;
   margin-left: auto;
   margin-right: auto; 
}


.hero-section__title{
    font-family: var(--primary-font);
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-transform: uppercase;
    color: var(--white);
    letter-spacing: 0.06em;
    margin-top: 200px;

    
}
.hero-section__title:hover{
    text-decoration: underline;
    text-decoration-color: var(--light-blue);
} 
   

.button{
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: var(--white);
    background-color: var(--light-blue);
    cursor: pointer;
    border-radius: 4px;
    margin-top: 30px;
    margin-bottom: 210px;
    
}

.button:hover{
    background-color: var(--light-blue);
    width: 380px;
    height: 65px;
}

/*About section style*/

.about{
    margin: 94px 215px;
}
.about .container{
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   gap: 30px;
   
}

.about__list{
    list-style: none;    
}

.about__subtitle{
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: var(--black);
    list-style: none;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    text-align: left;

}

.about__text{
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: var(--grey);
    letter-spacing: 0.03em;
    text-align: left;
    margin-top: 10px;

}

/* What we do style*/
.occupation{
    margin: 94px 215px;
    
}
.occupation__images{
    display: flex;
    flex: 1;
    justify-content: center;
    gap:30px;
}
.occupation__image{
    width: 370px;
    height: 294px;
}
.occupation__subtitle{
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: var(--black);
    letter-spacing: 0.03em;
    margin-bottom: 50px


}

/* Team section style*/

.team{
    margin: 94px 215px;
}

.team .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

.team__subtitle{
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: var(--black);
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    flex: 1;

}
.team__image{
    width: 270px;
    height: 260px;
    display: flex;
    flex: 1;
    justify-content: center;
    gap:30px;
}

.team__name{
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: var(--black);
    letter-spacing: 0.03em;
    margin-top: 30px;
}

.team__job{
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--grey);
    letter-spacing: 0.03em;
    margin-top: 10px;
    margin-bottom: 30px;

}

/* Footer section style */

.footer{
    background-color: var(--dark-grey);
    display: flex;
   justify-content: space-between;
    padding: 60px 1240px 60px 215px;
}

.footer__logo{
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: var(--white);
    text-decoration: none;
    letter-spacing: 0.03em;
    align-items: flex-start;
}

.footer__logo__name{
    color: #2196f3;

}

.contact{
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: var(--white);
    text-decoration: none;
    letter-spacing: 0.03em;
    margin-top: 28px;
    
  

}
.contact-mail{
    margin-top: 12px;
    margin-bottom: 12px;
}

.contact a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);

    
}
.contact a:hover {
    color: var(--light-blue);
}


.contact a:focus{
    color: var(--light-blue);
    border-bottom: none;
}


.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
 }


/* Body section portfolio style*/

.body{
    font-family: var(--primary-font);
    background-color: var(--white);
    text-align: center;
    
}

/* Header section style*/

.header {
    background-color: var(--white);
}
.header__logo{
    text-decoration: none;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: #000000;

}

.header__logo__name{
    color: #2196f3;

}

.header__navigation ul{
    list-style: none;

}

.header__navigation a{
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: var(--black);
    list-style: none;
    text-decoration: none;
}

.header__navigation a:hover {
    color: var(--light-blue);
}


.header__navigation a:focus{
    color: var(--light-blue);
    border-bottom: none;
}

.header__info a{
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: var(--grey) ;
    text-decoration: none;

}

.header__info a:hover{
    color: var(--light-blue);

}

.header__info a:focus{
    color: var(--light-blue);
    border-bottom: none;
}

/* Main part website page style*/
.projects__menu{
    font-family: var(--primary-font);
    font-size: 16px;
    background-color: var(--dark-white);
    color: var(--black);
    margin-top: 60px;
}

.projects__menu>button{
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    color: var(--black);
    border-radius: 4px;
    border: none;
}

.projects__menu>button:hover{
    background-color: var(--light-blue);
    color: var(--white);
    border: none;
    box-shadow: 1px 1px 1px var(--dark-white);
    cursor: pointer;
}


/* Footer portflio style*/

.footer{
    background-color: var(--dark-grey);
}


.footer__logo{
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: var(--white);
    text-decoration: none;
}

.footer__logo__name{
    color: #2196f3;

}

.contact{
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: var(--white);
    text-decoration: none;

}
.contact a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}
.contact a:hover {
    color: var(--light-blue);
}


.contact a:focus{
    color: var(--light-blue);
    border-bottom: none;
}